    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="https://tlgc.github.io/img/logo.png" alt="Logo" height="200" width="200">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text"><strong>1st Timothy 4:10b</strong><br>"..because we trust in the living God, who is the Saviour of all men, specially of those that believe."</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
